  <div class="users__show_container">
    <%= image_tag 'timmytommy.png', alt: "user image", class: 'user_image' %>
    
    <div class="products__show_detail-container">
      <h1><%= @user.name %></h1>
      <h2>Joined: <%= @user.created_at.strftime("%m/%d/%Y") %></h2>
      <h2>Username: <%= @user.username %></h2>
    </div>
  </div>

<h1>Products</h1>
 
  <table class="table">
    <thead>
      <tr>
        <th>Product</th>
        <th>Name</th>
        <th>Price</th>
        <th>Inventory</th>
        <th>Edit</th>
        <th>Status</th>
      </tr>
    </thead>
  
    <tbody>
      <% @user.products.each do |product| %>
        <tr>
          <td><%= product.photo_url %></td>
          <td><%= product.name %></td>
          <td><%= product.price %></td>
          <td><%= product.inventory %></td>
          <td><%= link_to "Edit", edit_product_path(product) %></td>
          <td><%= product.status %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div>
    <%= button_to 'Add Product', new_product_path, method: :get %>
  </div>

