<h4>Merchant</h4>
<div class="products__show_container">
  <%= image_tag @user.photo_url, alt: "user image", class: 'user_image' %>
  
  <div class="products__show_detail-container">
    <h1><%= @user.name %></h1>
    <h2>Joined: <%= @user.created_at.strftime("%m/%d/%Y") %></h2>
    <h2>Username: <%= @user.username %></h2>
  </div>
</div>

<%= link_to "All Merchants", root_path  %>

