<h2>MY ORDERS</h2>
<%
=begin%>
 <% @orders.each do |order| %>
  <% order.order_items.each do |item| %>
    <% p = Product.find_by(id: item.product_id) %>
    <% if session[:user_id] == p.user_id %>
      <%= order %>
    <% end %>
  <% end %>
<% end %> 
<%
=end%>

<div class="cart_view"> 
  <table class="table">
    <thead class="thead">
      <tr>
        <th></th>
        <th>Customer Name</th>
        <th>Order Total Amount</th>
        <th>Purchase Date</th>
        <th>Current Status</th>
        <th>Shipped?</th>
        <th>My Products from Order</th>
        <th></th>
      </tr>
    </thead>
  
    <tbody>
        <% @merchant_orders.each do |order| %>
          <tr>
            <td></td>
            <td><%= order.name %></td>
            <td><%= order.total %></td>
            <td><%= order.created_at.strftime("%m/%d/%Y") %> </td> 
            <td><%= order.status %></td>
            <td><%= Order.get_items(@merchant_products) %></td>
            <td>
              <%= button_to 'Order Details', ordered_path(order), class: 'btn btn-primary', method: :get%>
            </td>
            <td>
              <%= button_to 'Mark Shipped', mark_shipped_path(order), class: 'btn btn-primary', method: :patch %>
            </td>
          </tr>
        <% end %>
    </tbody>
  </table>
</div>

<%= button_to 'Back to Dashboard', dashboard_path, class: 'btn btn-primary', method: :get %>

