<h3>Final Order</h3>

<% order = Order.find_by(id: params[:format]) %>

<div class="cart_view"> 
  <table class="table">
    <thead class="thead">
      <tr>
        <th></th>
        <th>Name</th>
        <th>Email Address</th>
        <th>Address</th>
        <th>City</th>
        <th>State</th>
        <th>Zip code</th>
        <th>Card Information (Last Four)</th>
        <th>Order Total Amount</th>
        <th></th>
      </tr>
    </thead>
  
    <tbody>
      <tr>
        <td></td>
        <td><%= order.name %></td>
        <td><%= order.email_address %></td>
        <td> <%= order.address %> </td> 
        <td> <%= order.city %> </td> 
        <td> <%= order.state %> </td> 
        <td> <%= order.zipcode %> </td> 
        <td> <%= order.cc_num[-4..-1] %> </td> 
        <td><%= order.total %></td> 
        <td></td>
      </tr>
    </tbody>
  </table>

  <%= button_to 'Back to All Orders', orders_path, class: 'btn btn-primary', method: :get %>
  <%= button_to 'Back to Dashboard', dashboard_path, class: 'btn btn-primary', method: :get %>
</div>
