<h4>search</h4>

<div class="products__index_container">
  <% if @products.empty? && @categories.empty? && @users.empty? %>
    <h4>No products found</h4>
  <% else %> 
    <h4> <%= @products.length + @users.length + @categories.length %> results for "<%= @parameter %>"</h4>
  <% end %> 


  <% if !@products.empty? %>
    
    <% @products.each do |product| %>
      <div class="products__index_product-container item">
        <%= image_tag product.photo_url, alt: "product", class: "products__index_product-img" %>
        
        <div class="products__index_product-info-container">
          <h6><%= link_to "#{product.name}", product_path(product) %></h6>
          <p>🔔 <%= product.price %> Bells</p> 
          <% product.categories.each do |category| %>
            <%= category.name %>
          <% end %>
        </div>
        
      </div>
    <% end %>
  <% end %>

  
  
  <% if !@categories.empty? %>
    <% @categories.each do |category| %>
      <% category.products.each do |product| %>
        <div class="products__index_product-container item">
          <%= image_tag product.photo_url, alt: "product", class: "products__index_product-img" %>
        
          <div class="products__index_product-info-container">
            <h6><%= link_to "#{product.name}", product_path(product) %></h6>
            <p>🔔 <%= product.price %> Bells</p> 
            <% product.categories.each do |category| %>
              <%= category.name %>
            <% end %>
          </div>

        </div>
      <% end %>
      
    <% end %>
  <% end %>

  <% if !@users.empty? %>
    <div class="users__index_container">
      <% @users.each do |user| %>

        <div class="products__show_container">
          <%= image_tag user.photo_url, alt: "user image", class: 'user_image' %>
          
          <div class="products__show_detail-container">
            <h1><%= user.name %></h1>
            <h2>Joined: <%= user.created_at.strftime("%m/%d/%Y") %></h2>
            <h2>Username: <%= user.username %></h2>
          </div>
        </div>

        <div class="user_product-container">
            <% if @product_collection  %>
              <h2>Products</h2>
              <% @product_collection.each do |product| %>
                <p><%= product.name %></p>
              <% end %>
            <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

