<h4>
  <%= @category.products.length %> results for 
  <strong><%= @category.name %> </strong>
</h4>

<div class="products__index_container">
  <% if @category.products.empty? %> 
    <h5>No products found</h5>

  <% else %>
  
    <% @category.products.each do |product| %>

      <div class="products__index_product-container">
        <%= image_tag product.photo_url, alt: "product", class: "products__index_product-img" %>
        
        <div class="products__index_product-info-container">
          <h6><%= link_to "#{product.name}", product_path(product) %></h6>
          <p>🔔 <%= product.price %> Bells</p> 
        </div>
        
        <%#= product. => add reveiws %>
      </div>
    <% end %>
  <% end %>
</div>