<h4>products#show</h4>

<div class="products__show_container">
  <%= image_tag @product.photo_url, alt: "product image", class: "products__index_product-img" %>

  <div class="products__show_detail-container">
    <h4 class="bar"><%= @product.name %>
        <span></span>
        <span></span>
        <span></span>
        <span></span></h4>
    <p>Price: <strong>$<%= @product.price %></strong></p> 
    <p><%= @product.description %></p> 
    <p>Average rating: ★★★★★ </p> 
    <p>Only <%= @product.inventory %> left in stock </p> 

    <%#= I will delete the status after my dashboard is updated%>
    <p>Status: <%= @product.active ? "Active" : "Inactive" %></p> 

    <%= link_to @product.active ? "Inactivate" : "Activate", toggle_status_path(@product.id), class: 'products__show__toggle-status-btn', method: :patch, data: { confirm: '❗️ Would you like to update your status?' } %>

    <% @product.categories.each do |category| %>
      <p>Category: <%= category.name %> </p>
    <% end %>

    <%= form_with model: @product, class: '_form__container' do |f| %>
      <div class="_form-text-container">
        <div class="_form">
          Quantity: <%= f.select :quantity, [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], {}, {:class =>  "_form__select"} %>
        </div>
      </div>

      <%= f.submit "Add to cart", class: "btn btn-lg btn-primary" %>
    <% end %>
  </div>
</div>


<section class="reviews__container">
  <div>
    <h2>Reviews</h2>
    <% @product.reviews.each do |review| %>
      <p><%= Review.display_rating(review.rating) %></p>
      <p><%= review.description %></p>
      <hr>
    <% end %>
  </div>

  <section>


  <div class="reviews__form-container">
    <h2>Write a review</h2>
    <%= render partial: "reviews/form", locals: { action_name: "Submit Review" } %>
  </div>
</section>
