<h4>products#show</h4>
<div class="products__show_container">
  <%= image_tag @product.photo_url, alt: "product image", class: "products__index_product-img" %>
  
  <div class="products__show_detail-container">
    <h4><%= @product.name %></h4>
    <p>Price: <strong>$<%= @product.price %></strong></p> 
    <p><%= @product.description %></p> 
    <p><%= @product.inventory %> items available</p> 

    <% @product.categories.each do |category| %>
      <p>Category: <%= category.name %> </p>
    <% end %>
  </div>
</div>

<%#= @product. => add reveiws %>