<h4>products#show</h4>

<div class="products__show_container">
  <%= image_tag @product.photo_url, alt: "product image", class: "products__index_product-img" %>

  <div class="products__show_detail-container">
    <h4 class="bar"><%= @product.name %>
      <span></span>
      <span></span>
      <span></span>
      <span></span></h4>
    <p>Price: <strong>$<%= @product.price %></strong></p> 
    <p>Sold by <%= link_to "#{User.find_by(id: @product.user_id).name}", user_path(@product.user_id) %></p>
    <p><%= @product.description %></p> 
    <p>Average rating: <%= Review.display_rating(@product.average_rating)  %> (<%= @product.average_rating %> out of 5) | <%= @product.num_of_ratings %> ratings</p> 
    <p>Only <%= @product.inventory %> left in stock </p> 

    <% @product.categories.each do |category| %>
      <p>Category: <%= category.name %> </p>
    <% end %>

    <%= form_with model: @product, class: '_form__container' do |f| %>
      <div class="_form-text-container">
        <div class="_form">
          Quantity: <%= f.select :quantity, [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], {}, {:class =>  "_form__select"} %>
        </div>
      </div>

      <%= f.submit "Add to cart", class: "btn btn-lg btn-primary" %>
    <% end %>
  </div>
</div>


<section class="reviews__container">
  <div>
    <h2>Reviews</h2>
    <% @product.reviews.each do |review| %>
      <p><%= Review.display_rating(review.rating) %></p>
      <p><%= review.description %></p>
      <hr>
    <% end %>
  </div>

  <section>


  <div class="reviews__form-container">
    <h2>Write a review</h2>
    <%= render partial: "reviews/form", locals: { action_name: "Submit Review" } %>
  </div>
</section>
