<section>
  <%= form_with model: @review, url: product_reviews_path(@product.id) do |f| %>
    <div>
      <div class="form-group">
        <%= f.radio_button :rating, 5 %>
        <%= label :rating, '★★★★★' %>

        <%= f.radio_button :rating, 4 %>
        <%= label :rating, '★★★★' %>

        <%= f.radio_button :rating, 3 %>
        <%= label :rating, '★★★' %>

        <%= f.radio_button :rating, 2 %>
        <%= label :rating, '★★' %>

        <%= f.radio_button :rating, 1 %>
        <%= label :rating, '★' %>
    </div>

      <div class="form-group">
        <label>Comment</label>
        <%= f.text_field :description, class: "form-control-review" %>
      </div>
      <div class="form-group">
        <%= f.submit action_name, class: 'btn btn-primary' %>
      </div>
    </div>
  <% end %>
</section>



