<!DOCTYPE html>
<html>
  <head>
    <title>Nooksy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'https://i.ibb.co/Fzk7PdR/tom.png' %>
    
  </head>

  <body>
    <header class="navbar navbar-expand-lg navbar-light bg-light">
      
        <nav>

          <h1><%= link_to "Nooksy", root_path, class: "navbar-brand" %></h1>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li><%= link_to "All products", products_path, class: "nav-link" %> </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Products by category
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <% Category.all.each do |category| %>
                    <%= link_to category.name, category_path(category.id), class: "dropdown-item" %>
                  <% end %>
                </div>
              </li>

              <li><%= link_to "Products by merchant", products_path, class: "nav-link dropdown-toggle" %> </li> 
            </ul>

            <%= form_tag(root_path, method: :get) do %>
              <%= text_field_tag(:search, params[:search]) %>
              <%= submit_tag("Search") %>
            <% end %>



            <ul class="navbar-nav mr-auto right-btn">
              <% if @login_user %>
                <li><%= link_to "My dashboard", root_path, class: "nav-link" %> </li> 

                <li class="nav-item app-header__nav_item">
                  <%= link_to "Logged in as #{@login_user.username}", user_path(@login_user), class: "btn btn-primary" %>
                </li>

                <li class="nav-item app-header__nav_item">
                  <%= link_to "Log Out", logout_path, method: :delete, class: "btn btn-primary" %>
                </li>

              <% else %>

                <li class="nav-item app-header__nav_item">
                  <%= link_to "Log In with Github", github_login_path, class: "btn btn-primary" %>
                </li>
              <% end %>
            </ul>
          </div>
        </nav>
      </header>
    <%= yield %>
  </main>
  </body>
</html>
